#
 module name: mdll_cmp_weighted
 - read "ML_Classifier_Comparision_091423.xlsx
 - dropna with how ='any' and create df1
 - use groupby('Level 1') to get  the weighted difference and created the DF df_grp
   - The weighted difference = the sum of ( accuracy difference * GTIN count)/ (sum of GTN count) 
 - rename the col nmae None to 'weighted difference'

In [1]:
import pandas as pd
pd.set_option("display.max_rows", None)
from openpyxl import load_workbook
path = 'C:\\users\\iny2819\\kroger\\Data\\'

In [2]:
f_name = path + "ML_Classifier_Comparision_091423.xlsx"
df = pd.read_excel(f_name, sheet_name = 'Cmp')
df.head()

,Level 1,Level 2,LR test Accuracy,MLP_smote test accuracy,GTIN cnt
0,Agricultural Equipment,Tires,NaN,NaN,NaN
1,Apparel,Clothing,0.999832,0.999767,265350.0
2,Apparel,Footwear,0.999078,0.998904,509.0
3,Apparel,Personal Accessories,0.956785,0.964204,7229.0
4,Apparel,Safety Apparel,0.815787,0.854019,77.0

In [3]:
df.shape

(231, 5)

In [4]:
df1 = df.dropna(how = 'any')
df1.shape

(98, 5)

df.groupby('Level 1').apply(lambda x: ((x['LR test Accuracy'] - x['MLP_smote test  accuracy']) *  x['GTIN cnt']).sum())

In [6]:
df.groupby('Level 1').apply(lambda x: ( ((x['LR test Accuracy'] - x['MLP_smote test  accuracy']) *  x['GTIN cnt']).sum())/x['GTIN cnt'].sum())

C:\Users\iny2819\AppData\Local\Temp\ipykernel_35600\1923676267.py:1: RuntimeWarning: invalid value encountered in double_scalars
  df.groupby('Level 1').apply(lambda x: ( ((x['LR test Accuracy'] - x['MLP_smote test  accuracy']) *  x['GTIN cnt']).sum())/x['GTIN cnt'].sum())

Level 1
Agricultural Equipment                           NaN
Apparel                                    -0.000144
Appliances                                 -0.000002
Arts & Crafts                              -0.001054
Automotive                                  0.001093
Beer / Wine / Spirits                       0.000444
Books & Videos                              0.000000
Building Supplies                           0.000000
Childcare                                        NaN
Cleaning & Janitorial                       0.018676
Electrical                                  0.001392
Electronics                                -0.000191
Flooring                                    0.000000
Food / Beverages                            0.017615
Furniture                                   0.249785
Gardening & Outdoors                        0.000166
Hardware                                   -0.030371
Health & Beauty                             0.005175
Heating / Ventilation / Air Conditioning    0.000111
Home & Venue Decoration                     0.000291
Hospitality Supplies                        0.000764
Kitchen & Bathroom                          0.005123
Lighting & Fans                            -0.289840
Livestock & Pet Supplies                   -0.039619
Marine                                           NaN
Material Handling                           0.000000
Office Supplies                             0.002318
Paints & Coatings                           0.000000
Plumbing & Water Service                    0.000000
Power Sports                                0.000000
Sports & Outdoor Recreation Equipment       0.000011
Tobacco Products                           -0.000405
Tools                                      -0.000063
Toys / Games / Hobbies                     -0.035557
dtype: float64

In [7]:
df_grp = df1.groupby('Level 1', as_index = False).apply(lambda x: ( ((x['LR test Accuracy'] - x['MLP_smote test  accuracy']) *  x['GTIN cnt']).sum())/x['GTIN cnt'].sum())

In [8]:
df_grp

                                     Level 1      None
0                                    Apparel -0.000144
1                                 Appliances -0.000005
2                              Arts & Crafts -0.009715
3                                 Automotive  0.001094
4                      Beer / Wine / Spirits  0.000904
5                      Cleaning & Janitorial  0.078342
6                                 Electrical  0.001972
7                                Electronics -0.000310
8                           Food / Beverages  0.017615
9                                  Furniture  0.269652
10                      Gardening & Outdoors  0.000166
11                                  Hardware -0.195873
12                           Health & Beauty  0.005175
13  Heating / Ventilation / Air Conditioning  0.000111
14                   Home & Venue Decoration  0.001974
15                      Hospitality Supplies  0.003401
16                        Kitchen & Bathroom  0.005123
17                           Lighting & Fans -0.289840
18                  Livestock & Pet Supplies -0.039619
19                           Office Supplies  0.002432
20     Sports & Outdoor Recreation Equipment  0.002205
21                          Tobacco Products -0.000552
22                                     Tools -0.001937
23                    Toys / Games / Hobbies -0.035921

In [10]:
df_grp.rename(columns = {None : "weighted difference"}, inplace  = True)

In [11]:
df_grp

                                     Level 1  weighted difference
0                                    Apparel            -0.000144
1                                 Appliances            -0.000005
2                              Arts & Crafts            -0.009715
3                                 Automotive             0.001094
4                      Beer / Wine / Spirits             0.000904
5                      Cleaning & Janitorial             0.078342
6                                 Electrical             0.001972
7                                Electronics            -0.000310
8                           Food / Beverages             0.017615
9                                  Furniture             0.269652
10                      Gardening & Outdoors             0.000166
11                                  Hardware            -0.195873
12                           Health & Beauty             0.005175
13  Heating / Ventilation / Air Conditioning             0.000111
14                   Home & Venue Decoration             0.001974
15                      Hospitality Supplies             0.003401
16                        Kitchen & Bathroom             0.005123
17                           Lighting & Fans            -0.289840
18                  Livestock & Pet Supplies            -0.039619
19                           Office Supplies             0.002432
20     Sports & Outdoor Recreation Equipment             0.002205
21                          Tobacco Products            -0.000552
22                                     Tools            -0.001937
23                    Toys / Games / Hobbies            -0.035921

In [16]:
from datetime import date
dte = date.today().strftime('%m%d%y')
excel_file = path + "LR_MLPSMOTE weighted differences_"+dte + '.xlsx'
from pandas import ExcelWriter
from pandas import ExcelFile
writer = pd.ExcelWriter(excel_file)
df_grp.to_excel(writer,'LR_MLPSMOTE weighted difference')  
df1.to_excel(writer,'LR_MLPSMOTE MDL CMO Dropna') 
     
writer.close()

In [15]:
# try to write the worksheet to the existing file, but not working.
#df = pd.read_excel('existing_file.xlsx', sheet_name='Sheet1')
# Load the existing Excel file using openpyxl
book = load_workbook(f_name)

# Create a new worksheet
#new_sheet = book.create_sheet(['LR_MLPSMOTE weighted difference', 'cmp_dropna'])
new_sheet = book.create_sheet('LR_MLPSMOTE weighted difference')

# Save the changes
book.save(f_name)
# Write data to the new worksheet
df_grp.to_excel(f_name, sheet_name='LR_MLPSMOTE weighted difference', index=False)

In [ ]:
len('LR_MLPSMOTE weighted difference')