#
  - Module name: Syndigo_1_2_3_4_5_with_level_073123.ipynb
  - Input file Parts 1-2-3-4-5 Syndigo matches w taxonomy .xlsx
    - Upload the file to Databricks with name as 'Syndigo Parts 1-2-3-4-5 matches w taxonomy.csv'

In [1]:
import numpy as np
import pandas as pd 

pd.options.display.float_format = '{:,.4f}'.format
pd.set_option('display.max_columns', None) 
pd.set_option("display.max_rows", None)
path = 'C:\\users\\iny2819\\kroger\\Data\\'

In [2]:
#path_file = path + 'Parts 1-2-3-4-5 Syndigo matches w taxonomy .xlsx' 
path_file = path + 'Parts 1-2-3-4-5 Syndigo matches w Syndigo Taxonomy.xlsx'
                  
syndigo_1  = pd.read_excel(path_file, sheet_name  = 'Part 1') # (70046, 2)/(70046, 2)
syndigo_2  = pd.read_excel(path_file, sheet_name  = 'Part 2') # (50506, 2)/(50506, 2)
syndigo_3  = pd.read_excel(path_file, sheet_name  = 'Part 3') # (20180, 2)/(20180, 2)
syndigo_4  = pd.read_excel(path_file, sheet_name  = 'Part 4') # (11397, 2)/(11397, 2)
syndigo_5  = pd.read_excel(path_file, sheet_name  = 'Part 5') # (11924, 2)/(11924, 2)

In [9]:
syndigo_5.shape

(11924, 2)

In [10]:
syndigo_2.head()

          GTIN                                       Syndigo Taxo
0  16000289192  Food / Beverages > Grocery > Breads / Cereals ...
1  16000274730  Food / Beverages > Grocery > Breads / Cereals ...
2  44325120067  Food / Beverages > Meat / Poultry / Seafood / ...
3  29702041135  Food / Beverages > Grocery > Confectionery / D...
4  18000113613  Food / Beverages > Bakery / Deli > Prepared & ...

In [11]:
syndigo_1.shape[0] + syndigo_2.shape[0] + syndigo_3.shape[0] + syndigo_4.shape[0] + syndigo_5.shape[0] # 164053/ 164053

164053

In [12]:
syndigo_concat = pd.concat([syndigo_1, syndigo_2, syndigo_3, syndigo_4,syndigo_5]).reset_index()
syndigo_concat.dropna(how = 'all',inplace= True)

#sysyndigo_concatndigo_concat = pd.concat([ syndigo_3, syndigo_4,syndigo_5]) # 43501

#syndigo_concat = pd.concat([syndigo_2])  #  (50506, 2)
syndigo_concat.shape

(164053, 3)

In [13]:
syndigo_concat.head()

   index          GTIN                                       Syndigo Taxo
0      0  796252800375  Food / Beverages > Dairy & Egg Products > Cheeses
1      1   97073240594  Food / Beverages > Dairy & Egg Products > Cheeses
2      2  632169113262  Health & Beauty > Personal Care > Hair Care > ...
3      3   87300000329  Health & Beauty > Personal Care > Soaps > Foam...
4      4  763948052295  Health & Beauty > Vitamins & Dietary Supplemen...

In [15]:
syndigo_concat['Levels_map'] = syndigo_concat['Syndigo Taxo'].fillna('None').apply(lambda x: dict(zip(['Level '+str(i+1) for i in range(len(x.split('>')))],[i.strip() for i in x.split('>')])))

In [16]:
syndigo_concat.head()

,index,GTIN,Syndigo Taxo,Levels_map
0,0,796252800375,Food / Beverages > Dairy & Egg Products > Cheeses,"{'Level 1': 'Food / Beverages', 'Level 2': 'Da..."
1,1,97073240594,Food / Beverages > Dairy & Egg Products > Cheeses,"{'Level 1': 'Food / Beverages', 'Level 2': 'Da..."
2,2,632169113262,Health & Beauty > Personal Care > Hair Care > ...,"{'Level 1': 'Health & Beauty', 'Level 2': 'Per..."
3,3,87300000329,Health & Beauty > Personal Care > Soaps > Foam...,"{'Level 1': 'Health & Beauty', 'Level 2': 'Per..."
4,4,763948052295,Health & Beauty > Vitamins & Dietary Supplemen...,"{'Level 1': 'Health & Beauty', 'Level 2': 'Vit..."

In [17]:
max_lvl = max (map(lambda x: x.count('>') + 1, syndigo_concat['Syndigo Taxo'])) 
level_var = list(map(lambda x: 'Level ' + str(x), range(1, max_lvl + 1)))
#level_var = ['Level 1', 'Level 2', 'Level 3', 'Level 4' ,'Level 5', 'Level 6', 'Level 7', 'Level 8', 'Level 9']

for var in level_var:
    syndigo_concat[var] = np.nan

In [18]:
syndigo_concat.head()

,index,GTIN,Syndigo Taxo,Levels_map,Level 1,Level 2,Level 3,Level 4,Level 5,Level 6,Level 7,Level 8,Level 9
0,0,796252800375,Food / Beverages > Dairy & Egg Products > Cheeses,"{'Level 1': 'Food / Beverages', 'Level 2': 'Da...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,97073240594,Food / Beverages > Dairy & Egg Products > Cheeses,"{'Level 1': 'Food / Beverages', 'Level 2': 'Da...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,632169113262,Health & Beauty > Personal Care > Hair Care > ...,"{'Level 1': 'Health & Beauty', 'Level 2': 'Per...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,87300000329,Health & Beauty > Personal Care > Soaps > Foam...,"{'Level 1': 'Health & Beauty', 'Level 2': 'Per...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,763948052295,Health & Beauty > Vitamins & Dietary Supplemen...,"{'Level 1': 'Health & Beauty', 'Level 2': 'Vit...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
for i in range(len(syndigo_concat)):
    mapping = syndigo_concat['Levels_map'].iloc[i]
    for (k,v) in mapping.items():
        if  k in syndigo_concat.columns:   
            syndigo_concat.loc[i, k] = v

In [13]:
syndigo_concat.head()

,index,GTIN,taxo,Levels_map,Level 1,Level 2,Level 3,Level 4,Level 5,Level 6,Level 7,Level 8,Level 9
0,0,796252800375,Food / Beverages > Dairy & Egg Products > Cheeses,"{'Level 1': 'Food / Beverages', 'Level 2': 'Da...",Food / Beverages,Dairy & Egg Products,Cheeses,NaN,NaN,NaN,NaN,NaN,NaN
1,1,97073240594,Food / Beverages > Dairy & Egg Products > Cheeses,"{'Level 1': 'Food / Beverages', 'Level 2': 'Da...",Food / Beverages,Dairy & Egg Products,Cheeses,NaN,NaN,NaN,NaN,NaN,NaN
2,2,632169113262,Health & Beauty > Personal Care > Hair Care > ...,"{'Level 1': 'Health & Beauty', 'Level 2': 'Per...",Health & Beauty,Personal Care,Hair Care,Treatments & Primers,NaN,NaN,NaN,NaN,NaN
3,3,87300000329,Health & Beauty > Personal Care > Soaps > Foam...,"{'Level 1': 'Health & Beauty', 'Level 2': 'Per...",Health & Beauty,Personal Care,Soaps,Foam & Liquid,NaN,NaN,NaN,NaN,NaN
4,4,763948052295,Health & Beauty > Vitamins & Dietary Supplemen...,"{'Level 1': 'Health & Beauty', 'Level 2': 'Vit...",Health & Beauty,Vitamins & Dietary Supplements,Pills & Chews Supplements,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
syndigo_concat.drop('index', axis=1, inplace=True) 
syndigo_concat.head()

,GTIN,Syndigo Taxo,Levels_map,Level 1,Level 2,Level 3,Level 4,Level 5,Level 6,Level 7,Level 8,Level 9
0,796252800375,Food / Beverages > Dairy & Egg Products > Cheeses,"{'Level 1': 'Food / Beverages', 'Level 2': 'Da...",Food / Beverages,Dairy & Egg Products,Cheeses,NaN,NaN,NaN,NaN,NaN,NaN
1,97073240594,Food / Beverages > Dairy & Egg Products > Cheeses,"{'Level 1': 'Food / Beverages', 'Level 2': 'Da...",Food / Beverages,Dairy & Egg Products,Cheeses,NaN,NaN,NaN,NaN,NaN,NaN
2,632169113262,Health & Beauty > Personal Care > Hair Care > ...,"{'Level 1': 'Health & Beauty', 'Level 2': 'Per...",Health & Beauty,Personal Care,Hair Care,Treatments & Primers,NaN,NaN,NaN,NaN,NaN
3,87300000329,Health & Beauty > Personal Care > Soaps > Foam...,"{'Level 1': 'Health & Beauty', 'Level 2': 'Per...",Health & Beauty,Personal Care,Soaps,Foam & Liquid,NaN,NaN,NaN,NaN,NaN
4,763948052295,Health & Beauty > Vitamins & Dietary Supplemen...,"{'Level 1': 'Health & Beauty', 'Level 2': 'Vit...",Health & Beauty,Vitamins & Dietary Supplements,Pills & Chews Supplements,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
path = 'C:\\users\\iny2819\\kroger\\Data\\'

from datetime import date
dte = date.today().strftime('%m%d%y')
syndigo_concat.to_excel(path + "syndiago Parts 1-2-3-4-5 matches w taxonomy classification_" + dte +".xlsx",index=None)
syndigo_concat.to_csv(path + "syndiago Parts 1-2-3-4-5 matches w taxonomy classification_" +dte + ".csv",index=None)

In [ ]:
stopdte

In [ ]:
syndigo_concat.GTIN.nunique()

In [ ]:
syndigo_1.shape

In [ ]:
max_lvl = max (map(lambda x: x.count('>') + 1, syndigo_concat['taxo']))

In [ ]:
list(map(lambda x: 'Level ' + str(x), range(1, max_lvl + 1)))

In [17]:
df = pd.read_csv(path + "syndiago Parts 1-2-3-4-5 matches w taxonomy classification.csv")

C:\Users\iny2819\AppData\Local\Temp\ipykernel_23332\4199457436.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path + "syndiago Parts 1-2-3-4-5 matches w taxonomy classification.csv")

In [23]:
df = pd.read_csv(path + "syndiago Parts 1-2-3-4-5 matches w taxonomy classification.csv", dtype='unicode')

In [25]:
df.shape

(164053, 12)

In [26]:
df.drop_duplicates('GTIN', inplace = True)

In [27]:
df.shape

(164053, 12)