In [1]:
import  pandas as pd
path = 'C:\\users\\iny2819\\Kroger\\Data\\' 
path_atb = path + 'ATB\\'
import functools as ft

In [2]:
def cr_norm_clr_df(norm_clr_file, discard, rename, suffix):
    df1 = pd.read_csv(path_atb + norm_clr_file)
    df1["discard_ind"] = df1.\
        apply(lambda x: 'YES' if x['EXTRACTED_COLOR'] in discard else '', axis = 1)
 
    df1["rename"] = df1.\
        apply(lambda x: rename[x['EXTRACTED_COLOR']] if x['EXTRACTED_COLOR'] in rename.keys() else '', axis = 1)
  
    rencol = {'EXTRACTED_COLOR': 'ext_clr', 'PERCENT_CUMULATIVE_COUNT': 'pct_cum_cnt'+ suffix,  \
              "discard_ind": "dcard"+ suffix, "rename": "ren"+ suffix }
    df1 = df1.rename(columns=rencol)
    
    df1.head()
    return df1

In [3]:
# rugs
#norm_clr_rug = "Normalized_COLORS_Rugs.xlsx" 
norm_clr_rug ='Normalized_COLORS_HomeDecor_Rugs.csv'
discard_rug =['NATURAL', 'MEDIUM', 'DARK', 'LIGHT', 'STRIPED', 'ANTIQUE', 'BARK', 'LINEN', 'URBAN', 'TOBACCO', 'SEA','WALNUT',  \
          'BERRY','CAPRI','CORAL', 'SAND','SAGE','CLAY','PEARL', 'COPPER', 'STEEL','BRONZE', 'CHAMPAGNE','PEWTER', 'CHOCOLATE', 'CREAM']
rename_rug = {'ASSORTED':'MULTICOLOR','MULTI-COLORED':'MULTICOLOR','MULTI COLOR':'MULTICOLOR',\
          'GREY':'GRAY','DARK GRAY':'GRAY','LIGHT GRAY':'GRAY', \
          'NAVY BLUE':'NAVY','DARK BLUE' : 'BLUE', 'LIGHT BLUE': 'BLUE', 'DARK BROWN' : 'BROWN', 'LIGHT BROWN' : 'BROWN', \
          'DARK GREEN' :  'GREEN', 'LIGHT GREEN' :  'GREEN'} 
df_rug = cr_norm_clr_df(norm_clr_rug, discard_rug, rename_rug, '_rug')
df_rug.head()

  ext_clr  pct_cum_cnt_rug dcard_rug ren_rug
0    BLUE        14.844229
1   CREAM        28.433124       YES
2    GRAY        40.572646
3   IVORY        46.933208
4   BLACK        52.009100

In [4]:
#Home decor - norug
norm_clr_hd_norug = "Normalized_COLORS_HomeDecor_NoRugs.csv"
discard_hd_norug = ['LIGHT','WOOD','LOVE','NATURAL','LINEN','IRON','ANTIQUE','MIRROR MIRROR','DARK','MEDIUM','SEA','WALNUT',\
                    'ORCHID','BERRY','PACIFIC','URBAN','PEONY','PEACOCK','APPLE','CAPRI','CORAL','VALENTINE','SAND','LEMON', \
                    'VANILLA','D-7','MANGO','SAGE','MAPLE','PEARL','DEEP','CLAY']
rename_hd_norug = {'ASSORTED':'MULTI COLOR','GREY':'GRAY','VIOLET':'PURPLE','NAVY':'NAVY BLUE','MULTI-COLORED':'MULTI COLOR', \
                   'LIGHT GREEN':'GREEN','LIGHT BLUE':'BLUE','DARK BROWN':'BROWN','BLUE/WHITE':'BLUE;WHITE','DARK GREEN':'GREEN',
                   'MOSS GREEN':'GREEN'}
df_hd_norug = cr_norm_clr_df(norm_clr_hd_norug, discard_hd_norug, rename_hd_norug, '_hd_norug')   
df_hd_norug.head()

  ext_clr  pct_cum_cnt_hd_norug dcard_hd_norug ren_hd_norug
0   WHITE              9.736195
1   BLACK             17.829164
2   LIGHT             23.624574            YES
3   GREEN             29.046928
4    WOOD             34.249001            YES

In [5]:
#  kitchen& dinning - kitdin 
norm_clr_kitdin = "Normalized_COLORS_Kitchen&Dining.csv"
discard_kitdin = ['ANTIQUE','DEEP','FISH','BUTTERFLY','SCOOP','LIGHT','UNICORN','OWL','MIRROR MIRROR','ALPHABET','UNIVERSAL','HAPPY BIRTHDAY', \
'LOVELY','STAINLESS-STEEL','STAINLESS STEEL','COFFEE','IRON','ZINC','COPPER','NATURAL','STAINLESS','STEEL','MEDIUM','BRONZE','LOVE','PORCELAIN',\
'MAPLE','PINEAPPLE','CHAMPAGNE','WALNUT','APPLE','BRASS','PEWTER','NICKEL','CHOCOLATE','ESPRESSO','BUTTER','CREAM','CARBON','DARK','JUNGLE','DRINK']
rename_kitdin = {'ASSORTED':'MULTI COLOR','GREY':'GRAY','VIOLET':'PURPLE','NAVY':'NAVY BLUE','MULTI-COLORED':'MULTI COLOR'}
df_kitdin = cr_norm_clr_df(norm_clr_kitdin, discard_kitdin, rename_kitdin, '_kitdin')   
df_kitdin.head()

         ext_clr  pct_cum_cnt_kitdin dcard_kitdin   ren_kitdin
0  MULTI-COLORED           16.507111               MULTI COLOR
1           BLUE           27.072158
2          BLACK           34.601524
3          WHITE           41.674920
4         SILVER           46.317845

In [7]:
norm_clr_floral = "Normalized_COLORS_Floral.csv"
df_norm_clr_floral= pd.read_csv(path_atb + norm_clr_floral)
discard_floral =['ANTIQUE','APPLE','BARK','BERRY','BI-COLOR','BRONZE','CAYENNE','CHAMPAGNE', \
'CHOCOLATE','CLAY','COFFEE','CONCRETE', \
'COPPER','CORAL','CREAM','CRUSH','DARK','DEEP','FROST','HAPPY BIRTHDAY','HEIRLOOM', \
'IRON', 'LIGHT','LOVE','MARIGOLD', 'MEDIUM','MELON','NATURAL','ORCHID','PEARL', \
'PEONY','PINEAPPLE','SAGE','STEEL','STRIPED','URBAN','VALENTINE','VARIETY',\
'WATERMELON','WOOD','ZINNIA']

rename_floral = {'ASSORTED':'MULTICOLOR','ASSORTED COLORS':'MULTICOLOR', 'CLASSIC WHITE':'WHITE', \
          'MULTI-COLORED':'MULTICOLOR','MULTI COLOR':'MULTICOLOR',\
          'GREY':'GRAY','DARK GRAY':'GRAY','LIGHT GRAY':'GRAY', \
          'NAVY BLUE':'NAVY','DARK BLUE' : 'BLUE', 'LIGHT BLUE': 'BLUE', \
          'DARK BROWN' : 'BROWN', 'LIGHT BROWN' : 'BROWN', \
          'DARK GREEN' :  'GREEN', 'LIGHT GREEN' :  'GREEN','GOLDEN':'GOLD', \
          'LIGHT PINK':'PINK', 'DARK PINK':'PINK', 'DARK RED': 'RED'}

df_floral = cr_norm_clr_df(norm_clr_floral, discard_floral, rename_floral, '_floral')
df_floral.head()

  ext_clr  pct_cum_cnt_floral dcard_floral ren_floral
0     RED           11.351223
1    ROSE           20.612681
2   WHITE           28.639278
3    PINK           33.768701
4  ORCHID           37.425790          YES

In [8]:
import functools as ft
dfs = [df_floral, df_rug, df_hd_norug, df_kitdin ]
df_final = ft.reduce(lambda left, right: pd.merge(left, right, on='ext_clr', how ='outer'), dfs)
df_final.head()

,ext_clr,pct_cum_cnt_floral,dcard_floral,ren_floral,pct_cum_cnt_rug,dcard_rug,ren_rug,pct_cum_cnt_hd_norug,dcard_hd_norug,ren_hd_norug,pct_cum_cnt_kitdin,dcard_kitdin,ren_kitdin
0,RED,11.351223,,,56.464273,,,57.391562,,,55.098209,,
1,ROSE,20.612681,,,96.628768,,,79.101110,,,85.992132,,
2,WHITE,28.639278,,,85.966411,,,9.736195,,,41.674920,,
3,PINK,33.768701,,,80.948165,,,59.795115,,,65.818684,,
4,ORCHID,37.425790,YES,,NaN,NaN,NaN,88.301406,YES,,NaN,NaN,NaN

In [ ]:
df_final.shape

In [9]:
from datetime import date
from pandas import ExcelWriter
from pandas import ExcelFile

dte = date.today().strftime('%m%d%y')
excel_file = path_atb + "Normalized_COLORS_FLORA_"+dte + '.xlsx'
writer = pd.ExcelWriter(excel_file)
df_norm_clr_floral.to_excel(writer,'Normalized_COLORS_FLORAL', index = False)
df_final.to_excel(writer,'Normalized_COLORS_Combine', index = False)
   
writer.close()

In [ ]:
stop

In [ ]:
df_final.to_excel(path_atb + "color_norm.xlsx", index = False  )

In [ ]:

df1 = pd.read_excel(path_atb + "Normalized_COLORS_Rugs.xlsx" )
discard =['NATURAL', 'MEDIUM', 'DARK', 'LIGHT', 'STRIPED', 'ANTIQUE', 'BARK', 'LINEN', 'URBAN', 'TOBACCO', 'SEA','WALNUT',  \
          'BERRY','CAPRI','CORAL', 'SAND','SAGE','CLAY','PEARL', 'COPPER', 'STEEL','BRONZE', 'CHAMPAGNE','PEWTER', 'CHOCOLATE', 'CREAM']

df1["discard_ind"] = df1.\
    apply(lambda x: 'YES' if x['EXTRACTED_COLOR'] in discard else 'NO', axis = 1)
df1.head()

rename = {'ASSORTED':'MULTICOLOR','MULTI-COLORED':'MULTICOLOR','MULTI COLOR':'MULTICOLOR',\
          'GREY':'GRAY','DARK GRAY':'GRAY','LIGHT GRAY':'GRAY', \
          'NAVY BLUE':'NAVY','DARK BLUE' : 'BLUE', 'LIGHT BLUE': 'BLUE', 'DARK BROWN' : 'BROWN', 'LIGHT BROWN' : 'BROWN', \
          'DARK GREEN' :  'GREEN', 'LIGHT GREEN' :  'GREEN'} 
df1["rename"] = df1.\
    apply(lambda x: rename[x['EXTRACTED_COLOR']] if x['EXTRACTED_COLOR'] in rename.keys() else '', axis = 1)
df1.head(100)



#attributed_df['EXTRACTED_COLOR'] = attributed_df.\
#    apply(lambda x: x['COLOR_CURRENT'] if x['COLOR_CURRENT'] != 'NONE' else x['EXTRACTED_COLOR'], axis = 1)
#
#normalized_list = [ i for i in normalized_list if i not in discard] + ['OTHER']

In [ ]:
#rename['ASSORTED'] # 'MULTICOLOR'
rename['ASSORTE']

In [ ]:

rename = {'ASSORTED':'MULTICOLOR','MULTI-COLORED':'MULTICOLOR','MULTI COLOR':'MULTICOLOR',\
          'GREY':'GRAY','DARK GRAY':'GRAY','LIGHT GRAY':'GRAY', \
          'NAVY BLUE':'NAVY','DARK BLUE' : 'BLUE', 'LIGHT BLUE': 'BLUE', 'DARK BROWN' : 'BROWN', 'LIGHT BROWN' : 'BROWN', \
          'DARK GREEN' :  'GREEN', 'LIGHT GREEN' :  'GREEN'} 
df1["rename"] = df1.\
    apply(lambda x: rename[x['EXTRACTED_COLOR']] if x['EXTRACTED_COLOR'] in rename.keys() else '', axis = 1)
df1.head(100)

In [ ]:
pd.set_option("display.max_rows", None)
pd.set_option('display.max_colwidth', None)  

df1

In [ ]:
import  pandas as pd
path = 'C:\\users\\iny2819\\Kroger\\Data\\' 
path_atb = path + 'ATB\\'
#df1 = pd.read_csv(path_atb + "COLOR_NORMALIZED_Home_Decor_Rugs_12152023.csv", dtype={"GTIN_NO": 'int64'}, low_memory=False)
df1 = pd.read_excel(path_atb + "COLOR_NORMALIZED_Home_Decor_Rugs_12152023.xlsx", dtype={"GTIN_NO": 'int64'})


df2 = pd.read_excel(path_atb + "Validation_Data_Color_HomeDecor_Rugs_12122023_Prateek.xlsx")
mrg_df = df1.merge(df2[[ 'Review Status', 'Issue']], how = 'left', on = 'GTIN_NO')
mrg_df.shape

In [ ]:
df2.head()

In [ ]:
df1.head()

# DF 
   - How to Compare Pandas Dataframes by Multiple Columns  -

In [ ]:

# https://stackoverflow.com/questions/2582138/finding-and-replacing-elements-in-a-list
a = [1, 2, 3, 4, 1, 5, 3, 2, 6, 1, 1]
replacements = {1:10, 2:20, 3:'foo'}
replacer = replacements.get  # For faster gets.
print([replacer(n, n) for n in a])

In [ ]:
a = [replacer(n, n) for n in a]
a

In [ ]:
discard =['Natural','Medium','Dark','Striped','Antique','Bark','Linen','Urban','Tobacco']

In [ ]:
str= 'Multi-color & Multi Color to Multicolor \
Dark green to Green \
Dark Gray to Gray \
Dark Blue to Blue \
Dark Brown to Brown \
Grey to Gray  \
Light blue to Blue \
Light Brown to Brown \
Light Gray to Gray \
Light Green to Green \
Navy blue to Navy'
str_up = upper(str)
str_up

In [ ]:
str_up = str.upper()
str_up

In [ ]:
discard =['Natural','Medium','Dark','Striped','Antique','Bark','Linen','Urban','Tobacco']
[x.upper() for x in discard] # ['NATURAL', 'MEDIUM', 'DARK', 'STRIPED', 'ANTIQUE', 'BARK', 'LINEN', 'URBAN', 'TOBACCO']

In [ ]:
# https://www.w3schools.com/python/pandas/ref_df_reset_index.asp
import pandas as pd

data = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30],
  "qualified": [True, False, False]
}
idx = ["X", "Y", "Z"]

df = pd.DataFrame(data, index=idx)

newdf = df.reset_index()

print(newdf1)

In [ ]:
newdf1 = df.reset_index(drop = True)  # will drop index column  
print(newdf1)

In [ ]:
"""

I have a data frame like this

----------------
RecID| A  |B
----------------
1    |NaN | x 
2    |y   | NaN 
3    |z   | NaN
4    |NaN | a 
5    |NaN | b 
And I want to create a new column, C, from A and B such that if A is null then fill with B and if B is null then fill with A:

----------------------
RecID|A   |B    |C 
----------------------
1    |NaN | x   |x
2    |y   | NaN |y 
3    |z   | NaN |z
4    |NaN | a   |a
5    |NaN | b   |b


"""

In [ ]:
fillna

df.assign(C=df.A.fillna(df.B))

   RecID    A    B  C
0      1  NaN    x  x
1      2    y  NaN  y
2      3    z  NaN  z
3      4  NaN    a  a
4      5  NaN    b  b

In [ ]:
## How to Compare Pandas Dataframes by Multiple Columns
 - https://saturncloud.io/blog/how-to-compare-pandas-dataframes-by-multiple-columns/

In [ ]:
import pandas as pd

# Create the first dataframe
df1 = pd.DataFrame({
    'Name': ['John', 'Mary', 'Peter', 'Anna'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 70000, 80000]
})

# Create the second dataframe
df2 = pd.DataFrame({
    'Name': ['John', 'Mary', 'Peter', 'Anna'],
    'Age': [25, 30, 35, 45],
    'Salary': [50000, 60000, 70000, 80000]
})

In [ ]:
df1

In [ ]:
df2

In [ ]:
# Define the columns to compare
columns_to_compare = ['Name', 'Age']
# Merge the dataframes on the selected columns
merged_df = pd.merge(df1, df2, on=columns_to_compare, suffixes=('_df1', '_df2'), how='outer')
merged_df

In [ ]:
# Identify differences between the dataframes
#differences_df = merged_df[merged_df['Age_df1'] != merged_df['Age_df2']]
differences_df = merged_df[merged_df['Salary_df1'] != merged_df['Salary_df2']]
# View the differences
print(differences_df)

## EX2

In [ ]:
# Create first dataframe
df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']},
    index=[0, 1, 2, 3])

# Create second dataframe
df2 = pd.DataFrame({
    'A': ['A4', 'A5', 'A6'],
    'B': ['B4', 'B5', 'B6'],
    'C': ['C4', 'C5', 'C6'],
    'D': ['D4', 'D5', 'D6']},
    index=[4, 5, 6])

In [ ]:
df1

##

In [ ]:
df2

In [ ]:
# Compare 'A' column in df1 with 'A' column in df2
df1['A'].isin(df2['A'])

## EX3

In [ ]:
import pandas as pd

# Create first DataFrame
df1 = pd.DataFrame({
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, 32],
    'Country': ['USA', 'Canada', 'USA', 'Australia']
})

# Create second DataFrame
df2 = pd.DataFrame({
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 23, 35, 33],
    'Country': ['USA', 'Canada', 'USA', 'Australia']
})

In [ ]:
df1

In [ ]:
df2

In [ ]:
print(df1.equals(df2))

In [ ]:
# Comparing Specific Columns 
print(df1[['Name', 'Country']].equals(df2[['Name', 'Country']]))

In [ ]:
differences = df1.compare(df2)
print(differences)

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})

df2 = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})

if set(df1.columns).intersection(df2.columns):
    result = pd.merge(df1, df2)
else:
    print("Error: No common columns to perform merge on.")

In [ ]:
## merge

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})

df2 = pd.DataFrame({'E': ['E0', 'E1', 'E2', 'E3'],
                    'F': ['F0', 'F1', 'F2', 'F3'],
                    'G': ['G0', 'G1', 'G2', 'G3'],
                    'H': ['H0', 'H1', 'H2', 'H3']})

if 'X' not in df1.columns or 'X' not in df2.columns:
    print("Error: Column 'X' does not exist in one or both dataframes.")
else:
    pd.merge(df1, df2, on='X')

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': [0, 1, 2, 3],
                    'D': [0, 1, 2, 3]})

df2 = pd.DataFrame({'C': ['0', '1', '2', '3'],
                    'D': ['0', '1', '2', '3'],
                    'E': ['E0', 'E1', 'E2', 'E3'],
                    'F': ['F0', 'F1', 'F2', 'F3']})

df2['C'] = df2['C'].astype(int)
df2['D'] = df2['D'].astype(int)

pd.merge(df1, df2, on='C')

In [ ]:
## create df from a list python df

In [ ]:
import pandas as pd
 
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']
 
# Calling DataFrame constructor on list
# with indices and columns specified
df = pd.DataFrame(lst, index =['a', 'b', 'c', 'd', 'e', 'f', 'g'],
                                              columns =['Names'])
df

In [ ]:
import pandas as pd
 
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']
 
# Calling DataFrame constructor on list
# with indices and columns specified
df = pd.DataFrame(data = lst,   columns =['Names']) # ok
df = pd.DataFrame(lst,   columns =['Names'])
df

In [ ]:

# import pandas as pd
import pandas as pd
 
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']
 
# list of int
lst2 = [11, 22, 33, 44, 55, 66, 77]
 
# Calling DataFrame constructor after zipping
# both lists, with columns specified
df = pd.DataFrame(list(zip(lst, lst2)),
               columns =['Name', 'val'])
df

## Different ways to iterate over rows in Pandas Dataframe
 - https://www.geeksforgeeks.org/different-ways-to-iterate-over-rows-in-pandas-dataframe/

In [ ]:
# import pandas package as pd
import pandas as pd
 
# Define a dictionary containing students data
data = {'Name': ['Ankit', 'Amit',
                 'Aishwarya', 'Priyanka'],
        'Age': [21, 19, 20, 18],
        'Stream': ['Math', 'Commerce',
                   'Arts', 'Biology'],
        'Percentage': [88, 92, 95, 70]}
 
# Convert the dictionary into DataFrame
df = pd.DataFrame(data, columns=['Name', 'Age', 
                                 'Stream', 'Percentage'])
 
print("Given Dataframe :\n", df)
 
print("\nIterating over rows using index attribute :\n")
 
# iterate through each row and select
# 'Name' and 'Stream' column respectively.
for ind in df.index:
    print(df['Name'][ind], df['Stream'][ind])

In [ ]:

# import pandas package as pd
import pandas as pd
 
# Define a dictionary containing students data
data = {'Name': ['Ankit', 'Amit', 
                 'Aishwarya', 'Priyanka'],
        'Age': [21, 19, 20, 18],
        'Stream': ['Math', 'Commerce',
                   'Arts', 'Biology'],
        'Percentage': [88, 92, 95, 70]}
 
# Convert the dictionary into DataFrame
df = pd.DataFrame(data, columns=['Name', 'Age', 
                                 'Stream', 'Percentage'])
 
print("Given Dataframe :\n", df)
 
print("\nIterating over rows using iterrows() method :\n")
 
# iterate through each row and select
# 'Name' and 'Age' column respectively.
for index, row in df.iterrows():
    print(row["Name"], row["Age"])