# Convert year end bank statements to a csv file
## Module nane : bank_stmt_conv.ipynb
## Functionality
* Read bank statement from a text file
* Process transactions 
  * Line starts with '0', '1', '2' or '3' are transactions which will be scaned
  * Will pass non transaction statements
  * The fields are seperated by space
  * The first field is the transaction date, the last field is the transaction amount
    * Need to convert the transaction amount to decimal
    * If the transaction amount ends withs 'CR', the amount would be nagative, e.g. 123.5CR would be -123.5
    * Remove ',' from the transaction amount, .e.g. 1,234.34 would be 1234.34 
  * The transaction description is  bwtween the transaction date and transaction amount  
  * Create a list with tuple of tran_dte, tran_dsc, and tran_amt
* After process all the lines/statements, save the list to a datafram 
* Sava the dataframe to a CSV file  
#### Author: Sophia Yue
#### Creation date: 07-28-2018

## Import package

In [1]:
 from decimal import *
 import pandas as pd

## Open/Read input file

In [3]:
with open('2017_ye_stmt.txt', 'r') as visa_file:
     data =  visa_file.readlines()
type(data)

list

In [4]:
data [0:11]

['Other Stores/Retail\n',
 'Date Description Location Amount Deduct\n',
 '01/02/17 THE HOME DEPOT 0459 GLENDALE,AZ 9.76\n',
 '01/20/17 THE HOME DEPOT 0475 GLENDALE,AZ 36.88\n',
 '01/23/17 AMAZING AWARDS PHOENIX,AZ 13.03\n',
 '01/26/17 HARBOR FREIGHT TOOLS 1 GLENDALE,AZ 73.84\n',
 '01/27/17 HARBOR FREIGHT TOOLS 1 GLENDALE,AZ 3.89\n',
 '02/01/17 THE HOME DEPOT 0475 GLENDALE,AZ 4.34\n',
 '02/06/17 SAMS CLUB 4732 GLENDALE,AZ 11.24\n',
 '02/15/17 HARBOR FREIGHT TOOLS 1 GLENDALE,AZ 4.33\n',
 '03/01/17 THE HOME DEPOT 0459 GLENDALE,AZ 35.78\n']

## Remove non transaction statements

In [5]:
input_trans = list(filter(lambda line: line.startswith(('0', '1', '2', '3')), data))

## Scan transaction and assign values to tran_dte, tran_dsc and tran_exp

In [7]:
d = []
for stmt in input_trans[0:10]:
    tran_split =  stmt.split(' ')
    tran_dte  =  tran_split[0]
    
    tran_dsc =  tran_split[1:-2]  
    tran_dsc = ' '.join(tran_dsc)
      
    tran_exp  =  tran_split[-1].rstrip()
    if tran_exp.endswith('CR'):
       tran_exp = -1 * Decimal(tran_exp.replace('CR',''))
    else:
       tran_exp = Decimal(tran_exp)
    d.append({'tran_dte' : tran_dte, 'tran_dsc' : tran_dsc,  'tran_exp' : tran_exp })

## Create a dataframe from the list 'd'

In [8]:
df = pd.DataFrame(d)
df[0:10]

                 tran_dsc  tran_dte tran_exp
0     THE HOME DEPOT 0459  01/02/17     9.76
1     THE HOME DEPOT 0475  01/20/17    36.88
2          AMAZING AWARDS  01/23/17    13.03
3  HARBOR FREIGHT TOOLS 1  01/26/17    73.84
4  HARBOR FREIGHT TOOLS 1  01/27/17     3.89
5     THE HOME DEPOT 0475  02/01/17     4.34
6          SAMS CLUB 4732  02/06/17    11.24
7  HARBOR FREIGHT TOOLS 1  02/15/17     4.33
8     THE HOME DEPOT 0459  03/01/17    35.78
9     THE HOME DEPOT 0459  03/04/17    45.87

## Create a CSV file

In [9]:
df.to_csv('2017_ye_stmt.csv')