# HackerRank Test pool

## Day 7: Reverse the order of an array
- No build in type for array; Using list to build an array
  1. Use a 'recversed' function to reverse lst/array; 
     - input/output
       - input: array/list
       - output: iterator 
     - Use a 'reversed' function to reverse a list 'cars"  
       - rev_cars = reversed(cars) will create a 'list_reverseiterator 'rev_cars'
     - Can't use print to print rev_cars
     - Need to use a loop to print rev_cars 
     - iterator
       - After completing the iterator, rev_cars will be empty 
       
  2. Use slicing cars_rev =  cars[::-1] to reverse the order
     - input/output
       - input: array/list
       - output: list 
     - Use a 'reversed' function to reverse a list 'cars"  
     - Can use print to print cars_rev

In [3]:
cars = ["Ford", "Volvo", "BMW"]
reversed(cars) # Not change the value of cars -> Ford', 'Volvo', 'BMW']

In [16]:
rev_cars = reversed(cars)

In [10]:
# print(rev_cars)  # <list_reverseiterator object at 0x000002123C012130>

In [17]:
for item in rev_cars:
    print(item, end = '')

BMWVolvoFord

for item in rev_cars:
    pr int(item, end = '')

In [18]:
rev_cars = reversed(cars) 
for item in rev_cars:
    print(item, end = ' ')

BMW Volvo Ford

In [19]:
for item in rev_cars:
    print(item, end = ' ')  # After print and print  again; Nothing to print out; Need to reverse car anain and print

In [21]:
cars_rev = cars[::-1]

In [23]:
#cars_rev #  ['BMW', 'Volvo', 'Ford']  with type:  list
type(cars_rev)

list

##  Day 3: Intro to Conditional Statements

- Objective 
 In this challenge, we're getting started with conditional statements. 
- Task 
  - Given an integer, perform the following conditional actions:
    - If  is odd, print Weird
    - If  is even and in the inclusive range of 2 to 5 , print Not Weird
    - If  is even and in the inclusive range of 6 to n, print Weird
    - If  is even and greater than n, print Not Weird

In [38]:
# a % b : retrun the reminder
def  check_even(num):
    if num % 2 != 0:
       print("wierd") 
    elif 2<= num and num <= 5:
        print("no wierd")
    elif num <= 6 and num <= 20:
        print("wierd")
    else:
        if num > 20:
            print("no wierd")

In [41]:
check_even(2)
check_even(9)
check_even(18)

no wierd
wierd

## Day 4: Class vs. Instance
 - Build class Person with method
   1. yearPasses() should increase the  instance variable by 1.
   2. amIOld() should perform the following conditional actions:
     - If age < 13, print You are young..
     - If age >= 13 and age < 18, print You are a teenager.
     - Otherwise, print You are old.
  - Constraints    
    - 1 <= T<= 4 (T no of test case)
    - 5 <= age <= 30

In [48]:
class Person:
    def __init__(self, age):
        if age < 0:
           self.age = 0
        else:
            self.age = age
            
    def yearPasses(self):   
        self.age += 1
        
    def amIOld(self):
        if self.age < 13:
            print(f"age = {self.age} you are young")
        elif self.age <= 13 and self.age < 18:
             print(f"age = {self.age}you are teenager")
        else:
             print(f"age = {self.age} you are old")

In [49]:
l_age = [-1, 5, 15, 20]
for age in l_age:
    p = Person(age)
    p.yearPasses()
    p.amIOld()
    for j in range(3):
       p.yearPasses()  
    p.amIOld()

age = 1 you are young
age = 4 you are young
age = 6 you are young
age = 9 you are young
age = 16 you are old
age = 19 you are old
age = 21 you are old
age = 24 you are old

## Find the second largest number

In [26]:
l_num = [2,1,7,5]
# print( l_num.sort(reverse = True).[1])   # invalid syntax
l_num.sort(reverse = True)
l_num[1]

5

## Python program to demonstrate Basic Euclidean Algorithm 
   - Function to return gcd of a and b 
     - GCD of two numbers is the largest number that divides both of them. 
       - A simple way to find GCD is to factorize both numbers and multiply common factors 
       - Example
          - 36 = 2 x 2 x 3 x 3
          - 60 = 2 x 2 x 3 x 5
       - GCD is a build-in function under 'math'   
     - LCM (Least Common Multiple)
     - Example
          - Multiple of 21: 21, 42, 63,85, 105,....
          - Multiples of 35: 35, 70, 105,  ....
          - LCM (21, 35) = 105
     - LCM is a build-in function under 'math' in python 9.3 (Not stable)

In [31]:
# Example of recursive
def gcd(a, b):  
    if a == 0 : 
        return b  
      
    return gcd(b%a, a) 
  
a = 10
b = 15
print("gcd(", a , "," , b, ") = ", gcd(a, b)) 
# gcb(15, 10) -> gcb(5, 10) -> gcb (5, 5) -> return 5  
a = 35
b = 10
print("gcd(", a , "," , b, ") = ", gcd(a, b)) 
  
a = 31
b = 2
print("gcd(", a , "," , b, ") = ", gcd(a, b))

gcd( 10 , 15 ) =  5
gcd( 35 , 10 ) =  5
gcd( 31 , 2 ) =  1

In [33]:
15%10;

5

In [34]:
5%10

5

In [35]:
5%5

0

In [30]:
math.gcd(21, 35)

7

In [29]:
import math
def lcm(a, b):
    return abs(a*b) // math.gcd(a, b)

lcm(21, 35)   # 105

105

## Email Verification

## Read a file and remove the traing spaceDiagonal Difference

- https://www.geeksforgeeks.org/find-difference-between-sums-of-two-diagonals/

## Lambda, map, Filter
 - map() 
   - Functional programming
   - Pass in a function and an iterable, and map() will create an object.
   - map(func, seq) ->  Irerator

In [52]:
# final_prices = round(map(get_price_with_tax, txns), 2) -> NW  type map doesn't define __round__ method
# apply round inside the function 
txns = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = .08
def get_price_with_tax(txn):
    return round(txn * (1 + TAX_RATE), 2)
final_prices = map(get_price_with_tax, txns)  # map  object

list(final_prices) # [1.18, 25.44, 62.47, 4.92, 7.32]

[1.18, 25.44, 62.47, 4.92, 7.32]

In [70]:
#Labda in key sort
student_tuples = [
    ('john', 'A', 15),
    ('jane', 'B', 12),
    ('dave', 'B', 10),]
sorted(student_tuples, key=lambda student: student[2])   # sort by age [('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [ ]:
# map() also operates lazily, meaning memory won’t be an issue if you choose to use it in this
sum(map(lambda i: i*i, range(1000000000)))

In [65]:
map(lambda x: print(x*10), range(10))

In [66]:
print(map(lambda x: x*10, range(10)))

<map object at 0x000002123C102EE0>

In [67]:
print(list(map(lambda x: x*10, range(10))))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

### performance

In [ ]:
import random
import timeit
TAX_RATE = .08
txns = [random.randrange(100) for _ in range(100000)]
def get_price(txn):
    return txn * (1 + TAX_RATE)
def get_prices_with_map():
    return list(map(get_price, txns))
def get_prices_with_comprehension():
    return [get_price(txn) for txn in txns]
def get_prices_with_loop():
    prices = []
    for txn in txns:
        prices.append(get_price(txn))
    return prices
timeit.timeit(get_prices_with_map, number=100) # .0554370979998566
timeit.timeit(get_prices_with_comprehension, number=100) # 2.3982384680002724
timeit.timeit(get_prices_with_loop, number=100) # 3.0531821520007725

In [68]:
list(map(lambda tax: float(tax) * f'{TAX_RATE:.2}',  txns)) #  can't multiply sequence by non-int of type 'float'

TypeError: can't multiply sequence by non-int of type 'float'

### Filter
 - filter(function, sequence)
 - filter out all the elements of a sequence "sequence", for which the function function returns True
    - an item will be produced by the iterator result of filter(function, sequence) 
      - if item is included in the sequence "sequence" and if function(item) returns True.

In [ ]:

fibonacci = [0,1,1,2,3,5,8,13,21,34,55]
odd_numbers = list(filter(lambda x: x % 2, fibonacci))
print(odd_numbers) # [1, 1, 3, 5, 13, 21, 55]
even_numbers = list(filter(lambda x: x % 2 == 0, fibonacci))
print(even_numbers) # [0, 2, 8, 34]
even_numbers = list(filter(lambda x: x % 2 -1, fibonacci))
[0, 2, 8, 34]

In [59]:
list(map(lambda tax: tax * .08,  txns))

[0.08720000000000001, 1.8848, 4.6272, 0.36479999999999996, 0.5424]

### Using List Comprehensions
 - new_list = [expression for member in iterable]
 - new_list = [expression for member in iterable (if conditional)]
 - new_list = [expression (if conditional) for member in iterable]

In [ ]:
 final_prices = [get_price_with_tax(i) for i in txns]

In [61]:
sentence = 'the rocket came back from mars'
vowels = [i for i in sentence if i in 'aeiou']
vowels # ['e', 'o', 'e', 'a', 'e', 'a', 'o', 'a']

['e', 'o', 'e', 'a', 'e', 'a', 'o', 'a']

In [62]:
original_prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]
prices = [i if i > 0 else 0 for i in original_prices]
prices # [1.25, 0, 10.22, 3.78, 0, 1.16]

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [63]:
def get_price(price):
    return price if price > 0 else 0
prices = [get_price(i) for i in original_prices]
prices # [1.25, 0, 10.22, 3.78, 0, 1.16]

[1.25, 0, 10.22, 3.78, 0, 1.16]

### Dictionary comprehensions

In [64]:
 squares = {i: i * i for i in range(10)}
 squares # {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
sum([i * i for i in range(1000)]) # less efficient

In [ ]:
# generators can be surrounded by parentheses.
# A generator doesn’t create a single, large data structure in memory, but instead returns an iterable. 
sum(i * i for i in range(1000000000))  # use generator;  more

In [ ]:
list(map(lambda tax: tax * f'{TAX_RATE}',  txns))efficient

## Python3 program to find the difference between the sum of diagonal.

In [2]:
def difference(arr, n): 
  
    # Initialize sums of diagonals 
    d1 = 0
    d2 = 0
  
    for i in range(0, n): 
      
        for j in range(0, n): 
          
            # finding sum of primary diagonal 
            if (i == j): 
                d1 += arr[i][j] 
  
            # finding sum of secondary diagonal 
            if (i == n - j - 1): 
                d2 += arr[i][j] 
          
    # Absolute difference of the sums 
    # across the diagonals 
    return abs(d1 - d2);

SyntaxError: invalid character in identifier (<ipython-input-2-682cf1152751>, line 2)

In [ ]:
# Driver Code 
n = 3
  
arr = [[11, 2, 4], 
       [4 , 5, 6], 
       [10, 8, -12]] 
  
print(difference(arr, n))

In [71]:
# Day 5: Loops

for i in range(11):
    print ( f' 2 x {i} = { i * 2}')

 2 x 0 = 0
 2 x 1 = 2
 2 x 2 = 4
 2 x 3 = 6
 2 x 4 = 8
 2 x 5 = 10
 2 x 6 = 12
 2 x 7 = 14
 2 x 8 = 16
 2 x 9 = 18
 2 x 10 = 20

In [73]:
# Day 6: Let's Review


def sep_odd_even_indx(s):
    odd_str = ''
    even_str = ''
    for i in range(len(s)):
        if i % 2 != 0:
           odd_str = odd_str + s[i]
        else:
           even_str = even_str + s[i] 
    print(f'{even_str} {odd_str}')     
            
            
sep_odd_even_indx('Hacker')   # Hce akr

In [75]:
sep_odd_even_indx('Hacker')

Hce akr

In [87]:
#Day 8: Dictionaries and Maps


%%writefile contact.txt
sam 99912222
tom 11122222
harry 12299933

Overwriting contact.txt

In [77]:
d_cont = {}

In [88]:
with open('contact.txt') as file:
    line = file.readline()
    while line:
       print (f'{line}')
       name = line.split(' ')[0]
       phone = line.split(' ')[1]    
       d_cont[name] = phone
       print (f' {name} {phone}')
       line = file.readline() 
file.close()

sam 99912222

 sam 99912222

tom 11122222

 tom 11122222

harry 12299933

 harry 12299933

In [89]:
d_cont.keys()

dict_keys(['sam', 'tom', 'harry'])

In [90]:
d_cont.values()  # how to remove \n

dict_values(['99912222\n', '11122222\n', '12299933\n'])

In [91]:
d_cont['sam']

'99912222\n'

In [92]:
for key, value in d_cont.items():
    print(f'key = {key} bvalue = {value}')

key = sam bvalue = 99912222

key = tom bvalue = 11122222

key = harry bvalue = 12299933

In [98]:
# Day 9: Recursion 3


def fact_orial(n):
    if n == 1:
       return 1
    else:
       return n * fact_orial(n-1)

In [99]:
fact_orial(3)

6

In [ ]:
## BitwiseOperators
 - https://wiki.python.org/moin/BitwiseOperators
 - x << y
   - Returns x with the bits shifted to the left by y places (and new bits on the right-hand-side are zeros). This is the same as multiplying x by 2**y.
 - x >> y
   - Returns x with the bits shifted to the right by y places. This is the same as //'ing x by 2**y.

In [104]:
# Python3 implementation of the approach  
  
# Function to return the count of  
# maximum consecutive 1s in the  
# binary represntation of x  
# Maximum number of consecutive 1’s in binary representation of all the array elements
# - https://www.geeksforgeeks.org/maximum-number-of-consecutive-1s-in-binary-representation-of-all-the-array-elements/

def maxConsecutiveOnes(x) :  
  
    # Initialize result  
    count = 0;  
  
    # Count the number of iterations to  
    # reach x = 0.  
    while (x != 0) : 
          
        # This operation reduces length  
        # of every sequence of 1s by one
        print( f' before {x}')
        x = (x & (x << 1));  
        print( f' after {x}')
        count += 1;  
      
    return count;

In [105]:
maxConsecutiveOnes(1101)

 before 1101
 after 8
 before 8
 after 0

2

## Day11 - Maximum sum of hour glass in matrix
 - https://www.geeksforgeeks.org/maximum-sum-hour-glass-matrix/
 - 2D Array - DS - Hacker Rank Solution
   - https://allhackerranksolutions.blogspot.com/2019/01/2d-array-ds-hacker-rank-solution.html

## Day 28: RegEx, Patterns, and Intro to Databases

In [106]:
%%writefile email.txt
riya riya@gmail.com
julia julia@julia.me
julia sjulia@gmail.com
julia julia@gmail.com
samantha samantha@gmail.com
tanya tanya@gmail.com

Writing email.txt

In [116]:
import re
pattern = '@gmail'
with open('email.txt') as file:
    line = file.readline()
    print(f'line {line}')
    while line:
       match = re.search(pattern, line)
       if match:
          name = line.split(' ')[0]
          print (f' {name}')
       line = file.readline() 
file.close()

line riya riya@gmail.com

 riya
 julia
 julia
 samantha
 tanya

In [112]:
line

'riya riya@gmail.com\n'

In [114]:
pattern = '@gmail'
re.search(pattern, line)

## Day 12: Inheritance

In [119]:
class Person:
	def __init__(self, firstName, lastName, idNumber):
		self.firstName = firstName
		self.lastName = lastName
		self.idNumber = idNumber
	def printPerson(self):
		print ( "Name:", self.lastName + ",", self.firstName)
		print ( "ID:", self.idNumber)

In [124]:
class Student(Person):

    #   Class Constructor
    #   
    #   Parameters:
    #   firstName - A string denoting the Person's first name.
    #   lastName - A string denoting the Person's last name.
    #   id - An integer denoting the Person's ID number.
    #   scores - An array of integers denoting the Person's test scores.
    #
    # Write your constructor here
    def __init__(self, firstName, lastName, idNumber, scores ):
        Person.__init__(self, firstName, lastName, idNumber)
        self.scores = scores
    #   Function Name: calculate
    #   Return: A character denoting the grade.
    #
    # Write your function here
    def calculate(self):
        avg_score = sum(self.scores)/len(self.scores)
        if 90 <=  avg_score <= 100:
            grade = 'O'
        elif  80 <=  avg_score < 90:
            grade = 'E'  
        elif  70 <=  avg_score < 80:
            grade = 'A'  
        elif  55 <=  avg_score < 70:
            grade = 'P'
        elif  40 <=  avg_score < 55:
            grade = 'D'
        else:
            if vg_score < 40:
               grade = 'T'       
        return grade

In [126]:
student_a = Student('yue', 'Sophia', 1234, [100, 80])

In [127]:
student_a.calculate()

'O'

## Day 13: Abstract Classes

In [ ]:
pass

## Day 14: Scope
pass

## Day 15: Linked List
pass

## Day 15: Linked List
pass

## Day 16: Exceptions - String to Integer

In [140]:
def cnv_str_int(s):
    try: 
        int_s = int(float(s))  # need to convert s to float -> int
        print(f'convert string {s} to integer {int_s}')
    except:
        print(f'Bad string {s}, can\'t convert to integer' )

In [141]:
cnv_str_int('3.5')

convert string 3.5 to integer 3

In [142]:
cnv_str_int('a3.5')

Bad string a3.5, can't convert to integer

In [ ]:
##

In [143]:
class Caculator:
    def __init__(self,num, npw):
        self.num = num
        self.npw = npw
     
    def power(self):
        return self.num ** self.npw
    
    @num.setter
    def num(self, value):
        if value < 0:
            raise ValueError("num can not be negative ")
        print("settint value for num")  
        self._num = value
        
    @npw.setter 
    def npw(self, value):
        if value < 0:
            raise ValueError("npw can not be negative ")
        print("settint value for npw")  
        self._npw = value

NameError: name 'num' is not defined

In [156]:
class Caculator:
    def __init__(self,num = 0, npw = 0):
        self._num = num
        self._npw = npw
     
    def power(self):
        return self._num ** self._npw
    
    @property
    def num(self):
        print("get value")
        return self._num
    
    @num.setter
    def num(self, value):
        if value < 0:
            raise ValueError("num can not be negative ")
        print("setting value for num")  
        self._num = value

In [157]:
Caculator(2,3).power()

8

In [158]:
cal = Caculator(-2,3)

## Day 18: Queues and Stacks
pass

## Day 19: Interface
pass

In [ ]:
# Python program to check if  
# given number is prime or not 
  
num = 11
  
# If given number is greater than 1 
if num > 1: 
      
   # Iterate from 2 to n / 2  
   for i in range(2, num): 
         
       # If num is divisible by any number between  
       # 2 and n / 2, it is not prime  
       if (num % i) == 0: 
           print(num, "is not a prime number") 
           break
   else: 
       print(num, "is a prime number") 
  
else: 
   print(num, "is not a prime number")