# INFOSYS_POPULATION

In [1]:
import pandas as pd
import numpy as np
from pandas import ExcelWriter
import matplotlib.pyplot as plt

In [5]:
path = 'C:\\Users\\sophia.yue\\Infosys\\Sandeep Project\\'
df = pd.read_excel(path + "INFOSYS_POPULATION.xlsx", sheet_name = 'INFOSYS_POPULATION', engine = 'openpyxl' )
df.head()

,Org_Struc_Desc,NAICS_Cd,NAICS_Desc,Revw_Id,Revw_Month,Revw_Quarter,Decision,Scored_Flag,Elan_Flag,CLI_or_New_Prod_Flag,...,Purchasing_Card,One_Card,Other_NonBankCard,Scored_Rec_Decision,SBFE_Score,CC_Score,Financial_Template_Found_Flag,Existing_Limit,Request_Amount,Final_Limit
0,Corporation,238160,Roofing Contractors,117882,2019/01,2019/1,Approved,NaN,NaN,Y,...,0,1,0,NaN,NaN,NaN,Y,85000,55000,140000
1,Partnership,621210,Offices of Dentists,118031,2019/01,2019/1,Declined,NaN,NaN,Y,...,0,1,0,NaN,NaN,523.0,Y,50000,50000,50000
2,Non-Profit,813319,Other Social Advocacy Organizations,119338,2019/02,2019/1,Approved,NaN,NaN,NaN,...,0,1,0,NaN,NaN,560.0,Y,0,500000,500000
3,Non-Profit,624190,Other Individual and Family Services,119351,2019/03,2019/1,Approved,NaN,Y,Y,...,0,1,0,NaN,853.0,581.0,Y,45000,105000,150000
4,Non-Profit,813930,Labor Unions and Similar Labor Organizations,119531,2019/01,2019/1,Approved,NaN,NaN,NaN,...,0,1,0,NaN,NaN,NaN,NaN,0,200000,200000

In [16]:
df.columns

Index(['Org_Struc_Desc', 'NAICS_Cd', 'NAICS_Desc', 'Revw_Id', 'Revw_Month',
       'Revw_Quarter', 'Decision', 'Scored_Flag', 'Elan_Flag',
       'CLI_or_New_Prod_Flag', 'Channel', 'Corporate_Card', 'Purchasing_Card',
       'One_Card', 'Other_NonBankCard', 'Scored_Rec_Decision', 'SBFE_Score',
       'CC_Score', 'Financial_Template_Found_Flag', 'Existing_Limit',
       'Request_Amount', 'Final_Limit'],
      dtype='object')

In [21]:
df.dtypes

Org_Struc_Desc                    object
NAICS_Cd                           int64
NAICS_Desc                        object
Revw_Id                            int64
Revw_Month                        object
Revw_Quarter                      object
Decision                          object
Scored_Flag                       object
Elan_Flag                         object
CLI_or_New_Prod_Flag              object
Channel                           object
Corporate_Card                     int64
Purchasing_Card                    int64
One_Card                           int64
Other_NonBankCard                  int64
Scored_Rec_Decision               object
SBFE_Score                       float64
CC_Score                         float64
Financial_Template_Found_Flag     object
Existing_Limit                     int64
Request_Amount                     int64
Final_Limit                        int64
dtype: object

In [15]:
df.head().T

,0,1,2,3,4
Org_Struc_Desc,Corporation,Partnership,Non-Profit,Non-Profit,Non-Profit
NAICS_Cd,238160,621210,813319,624190,813930
NAICS_Desc,Roofing Contractors,Offices of Dentists,Other Social Advocacy Organizations,Other Individual and Family Services,Labor Unions and Similar Labor Organizations
Revw_Id,117882,118031,119338,119351,119531
Revw_Month,2019/01,2019/01,2019/02,2019/03,2019/01
Revw_Quarter,2019/1,2019/1,2019/1,2019/1,2019/1
Decision,Approved,Declined,Approved,Approved,Approved
Scored_Flag,NaN,NaN,NaN,NaN,NaN
Elan_Flag,NaN,NaN,NaN,Y,NaN
CLI_or_New_Prod_Flag,Y,Y,NaN,Y,NaN
Channel,Commercial Banking,Commercial Banking,Community Banking,Indirect,Community Banking
Corporate_Card,0,0,0,0,0
Purchasing_Card,0,0,0,0,0
One_Card,1,1,1,1,1
Other_NonBankCard,0,0,0,0,0
Scored_Rec_Decision,NaN,NaN,NaN,NaN,NaN
SBFE_Score,NaN,NaN,NaN,853.0,NaN
CC_Score,NaN,523.0,560.0,581.0,NaN
Financial_Template_Found_Flag,Y,Y,Y,Y,NaN
Existing_Limit,85000,50000,0,45000,0
Request_Amount,55000,50000,500000,105000,200000
Final_Limit,140000,50000,500000,150000,200000

In [6]:
vu = lambda df, fea: len(df[fea].unique())
vu(df, 'Org_Struc_Desc')

7

In [40]:
vc = lambda df, feature: df[feature].value_counts(dropna = False)/len(df)

In [8]:
#vc = lambda df, feature: df[feature].value_counts()/len(df)

In [20]:
vc(df, 'Corporate_Card')

0    0.959323
1    0.039871
2    0.000805
Name: Corporate_Card, dtype: float64

In [20]:
vc(df, 'Org_Struc_Desc')

Corporation            0.505840
LLC                    0.249698
Non-Profit             0.209021
Partnership            0.028594
Other                  0.005638
Sole Proprietorship    0.000805
MSA Av Consumer        0.000403
Name: Org_Struc_Desc, dtype: float64

In [14]:
vc(df, 'CLI_or_New_Prod_Flag')

NaN    0.751913
Y      0.248087
Name: CLI_or_New_Prod_Flag, dtype: float64

In [37]:
# [vu(df, feature) for feature in df.columns]  # Print no col name
[print(f'{feature:{30}} {vu(df, feature)}') for feature in df.columns]

Org_Struc_Desc                 7
NAICS_Cd                       541
NAICS_Desc                     541
Revw_Id                        2483
Revw_Month                     42
Revw_Quarter                   14
Decision                       2
Scored_Flag                    2
Elan_Flag                      2
CLI_or_New_Prod_Flag           2
Channel                        10
Corporate_Card                 3
Purchasing_Card                2
One_Card                       3
Other_NonBankCard              3
Scored_Rec_Decision            3
SBFE_Score                     189
CC_Score                       320
Financial_Template_Found_Flag  2
Existing_Limit                 64
Request_Amount                 144
Final_Limit                    85

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

## missing values

In [48]:
s = df.isnull().sum()
s [s != 0]/len(df)

Scored_Flag                      0.702779
Elan_Flag                        0.370117
CLI_or_New_Prod_Flag             0.751913
Channel                          0.000805
Scored_Rec_Decision              0.708014
SBFE_Score                       0.181635
CC_Score                         0.226742
Financial_Template_Found_Flag    0.370117
dtype: float64

## unique values

In [38]:
vc(df, 'Org_Struc_Desc')
vc(df, 'Channel')

Indirect                                             0.660089
Commercial Banking                                   0.132501
CPS Only                                             0.088200
Community Banking                                    0.084575
Public Sector & Depository Financial Institutions    0.012082
Commercial Real Estate                               0.010874
Specialized Industries & Finance                     0.005638
National Corporate & Institutional Banking           0.004833
Leveraged Finance                                    0.000403
Name: Channel, dtype: float64

In [55]:
vc(df, 'Scored_Rec_Decision')

NaN            0.708014
Approved       0.251309
Investigate    0.040677
Name: Scored_Rec_Decision, dtype: float64

In [56]:
vc(df, 'Financial_Template_Found_Flag')

Y      0.629883
NaN    0.370117
Name: Financial_Template_Found_Flag, dtype: float64

In [ ]:
vc(df, 'Channel')

In [27]:
#[vc(df, f'Org_Struc_Desc') for 
[vc(df, feature) for feature in df.columns] 
#nw [vc(df, feature) for feature in df.columns().to_list()] 
#for feature in df.columns
#df.columns

[Corporation            0.505840
 LLC                    0.249698
 Non-Profit             0.209021
 Partnership            0.028594
 Other                  0.005638
 Sole Proprietorship    0.000805
 MSA Av Consumer        0.000403
 Name: Org_Struc_Desc, dtype: float64,
 541330    0.024567
 813110    0.023359
 624190    0.018929
 621111    0.018929
 238210    0.017318
             ...
 333914    0.000403
 333922    0.000403
 335991    0.000403
 311421    0.000403
 481212    0.000403
 Name: NAICS_Cd, Length: 541, dtype: float64,
 Engineering Services                                                          0.024567
 Religious Organizations                                                       0.023359
 Offices of Physicians (except Mental Health Specialists)                      0.018929
 Other Individual and Family Services                                          0.018929
 Electrical Contractors                                                        0.017318
                                                                                 ...
 Coffee and Tea Manufacturing                                                  0.000403
 Toilet Preparation Manufacturing                                              0.000403
 Promoters of Performing Arts, Sports, and Similar Events with Facilities      0.000403
 Other Commercial and Industrial Machinery and Equipment Rental and Leasing    0.000403
 Business to Business Electronic Markets                                       0.000403
 Name: NAICS_Desc, Length: 541, dtype: float64,
 135168    0.000403
 139666    0.000403
 148129    0.000403
 127651    0.000403
 127653    0.000403
             ...
 144724    0.000403
 151527    0.000403
 144728    0.000403
 126297    0.000403
 151750    0.000403
 Name: Revw_Id, Length: 2483, dtype: float64,
 2022/05    0.041482
 2022/06    0.040677
 2022/04    0.033427
 2021/08    0.029803
 2021/06    0.029400
 2021/09    0.028594
 2019/03    0.028192
 2021/11    0.028192
 2021/03    0.027789
 2021/05    0.027789
 2019/06    0.027386
 2022/03    0.026983
 2019/04    0.026178
 2021/04    0.026178
 2021/10    0.026178
 2019/08    0.025775
 2019/05    0.024970
 2021/12    0.024164
 2019/01    0.024164
 2019/07    0.024164
 2019/10    0.023762
 2020/06    0.023762
 2019/02    0.023359
 2022/02    0.023359
 2020/09    0.022956
 2020/10    0.022956
 2020/03    0.021748
 2021/07    0.021345
 2019/11    0.020942
 2022/01    0.020540
 2020/07    0.020540
 2020/01    0.019331
 2021/02    0.019331
 2020/11    0.019331
 2019/09    0.018929
 2020/02    0.018123
 2020/12    0.017318
 2020/08    0.015707
 2020/04    0.014499
 2021/01    0.014096
 2019/12    0.013693
 2020/05    0.012888
 Name: Revw_Month, dtype: float64,
 2022/2    0.115586
 2021/2    0.083367
 2021/3    0.079742
 2021/4    0.078534
 2019/2    0.078534
 2019/1    0.075715
 2022/1    0.070882
 2019/3    0.068868
 2021/1    0.061216
 2020/4    0.059605
 2020/1    0.059203
 2020/3    0.059203
 2019/4    0.058397
 2020/2    0.051148
 Name: Revw_Quarter, dtype: float64,
 Approved    0.745066
 Declined    0.254934
 Name: Decision, dtype: float64,
 Y    0.297221
 Name: Scored_Flag, dtype: float64,
 Y    0.629883
 Name: Elan_Flag, dtype: float64,
 Y    0.248087
 Name: CLI_or_New_Prod_Flag, dtype: float64,
 Indirect                                             0.660089
 Commercial Banking                                   0.132501
 CPS Only                                             0.088200
 Community Banking                                    0.084575
 Public Sector & Depository Financial Institutions    0.012082
 Commercial Real Estate                               0.010874
 Specialized Industries & Finance                     0.005638
 National Corporate & Institutional Banking           0.004833
 Leveraged Finance                                    0.000403
 Name: Channel, dtype: float64,
 0    0.959323
 1    0.039871
 2    0.000805
 Name: Corporate_Card, dtype: float64,
 0    0.980266
 1    0.019734
 Name: Purchasing_Card, dtype: float64,
 1    0.946033
 0    0.046718
 2    0.007249
 Name: One_Card, dtype: float64,
 0    0.989126
 1    0.010471
 2    0.000403
 Name: Other_NonBankCard, dtype: float64,
 Approved       0.251309
 Investigate    0.040677
 Name: Scored_Rec_Decision, dtype: float64,
 877.0    0.014901
 876.0    0.011679
 914.0    0.010874
 886.0    0.010471
 912.0    0.010471
            ...
 90.0     0.000403
 769.0    0.000403
 785.0    0.000403
 818.0    0.000403
 544.0    0.000403
 Name: SBFE_Score, Length: 188, dtype: float64,
 580.0    0.008860
 583.0    0.008860
 565.0    0.008860
 545.0    0.008055
 589.0    0.008055
            ...
 656.0    0.000403
 637.0    0.000403
 964.0    0.000403
 268.0    0.000403
 232.0    0.000403
 Name: CC_Score, Length: 319, dtype: float64,
 Y    0.629883
 Name: Financial_Template_Found_Flag, dtype: float64,
 0         0.751913
 50000     0.044704
 100000    0.025775
 25000     0.024164
 1         0.022151
             ...
 31000     0.000403
 27000     0.000403
 25001     0.000403
 201000    0.000403
 330000    0.000403
 Name: Existing_Limit, Length: 64, dtype: float64,
 50000     0.124043
 25000     0.096255
 100000    0.095852
 200000    0.062827
 500000    0.053564
             ...
 458333    0.000403
 333332    0.000403
 91666     0.000403
 22000     0.000403
 104500    0.000403
 Name: Request_Amount, Length: 144, dtype: float64,
 0         0.211438
 50000     0.113572
 25000     0.083367
 100000    0.071285
 500000    0.056383
             ...
 96000     0.000403
 216000    0.000403
 74000     0.000403
 145000    0.000403
 385000    0.000403
 Name: Final_Limit, Length: 85, dtype: float64]

In [4]:
df.dtypes

Org_Struc_Desc                    object
NAICS_Cd                           int64
NAICS_Desc                        object
Revw_Id                            int64
Revw_Month                        object
Revw_Quarter                      object
Decision                          object
Scored_Flag                       object
Elan_Flag                         object
CLI_or_New_Prod_Flag              object
Channel                           object
Corporate_Card                     int64
Purchasing_Card                    int64
One_Card                           int64
Other_NonBankCard                  int64
Scored_Rec_Decision               object
SBFE_Score                       float64
CC_Score                         float64
Financial_Template_Found_Flag     object
Existing_Limit                     int64
Request_Amount                     int64
Final_Limit                        int64
dtype: object

In [5]:
len(df. columns)

22

In [6]:
df.shape

(2483, 22)

In [11]:
dfn= df.select_dtypes([np.number])
dfn.shape

(2483, 11)

In [12]:
dfn= df.select_dtypes([np.object])
dfn.shape

<ipython-input-12-3029199ded7f>:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dfn= df.select_dtypes([np.object])

(2483, 11)

In [40]:
#df.isnull().sum()/len(df)
df.isnull().dropna().sum()/len(df)

Org_Struc_Desc                   0.000000
NAICS_Cd                         0.000000
NAICS_Desc                       0.000000
Revw_Id                          0.000000
Revw_Month                       0.000000
Revw_Quarter                     0.000000
Decision                         0.000000
Scored_Flag                      0.702779
Elan_Flag                        0.370117
CLI_or_New_Prod_Flag             0.751913
Channel                          0.000805
Corporate_Card                   0.000000
Purchasing_Card                  0.000000
One_Card                         0.000000
Other_NonBankCard                0.000000
Scored_Rec_Decision              0.708014
SBFE_Score                       0.181635
CC_Score                         0.226742
Financial_Template_Found_Flag    0.370117
Existing_Limit                   0.000000
Request_Amount                   0.000000
Final_Limit                      0.000000
dtype: float64

In [16]:
#df.Org_Struc_Desc.value_counts()
df.Org_Struc_Desc.value_counts()

Corporation            1256
LLC                     620
Non-Profit              519
Partnership              71
Other                    14
Sole Proprietorship       2
MSA Av Consumer           1
Name: Org_Struc_Desc, dtype: int64

In [39]:
vc(df, 'Decision')

Approved    0.745066
Declined    0.254934
Name: Decision, dtype: float64

## WIP

In [41]:
df.isnull().head()

,Org_Struc_Desc,NAICS_Cd,NAICS_Desc,Revw_Id,Revw_Month,Revw_Quarter,Decision,Scored_Flag,Elan_Flag,CLI_or_New_Prod_Flag,...,Purchasing_Card,One_Card,Other_NonBankCard,Scored_Rec_Decision,SBFE_Score,CC_Score,Financial_Template_Found_Flag,Existing_Limit,Request_Amount,Final_Limit
0,False,False,False,False,False,False,False,True,True,False,...,False,False,False,True,True,True,False,False,False,False
1,False,False,False,False,False,False,False,True,True,False,...,False,False,False,True,True,False,False,False,False,False
2,False,False,False,False,False,False,False,True,True,True,...,False,False,False,True,True,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,...,False,False,False,True,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True,True,True,...,False,False,False,True,True,True,True,False,False,False

In [42]:
type(df.isnull().sum()) # pandas.core.series.Series

pandas.core.series.Series

In [50]:
df.describe()

,NAICS_Cd,Revw_Id,Corporate_Card,Purchasing_Card,One_Card,Other_NonBankCard,SBFE_Score,CC_Score,Existing_Limit,Request_Amount,Final_Limit
count,2483.000000,2483.000000,2483.000000,2483.000000,2483.000000,2483.000000,2032.000000,1920.000000,2483.000000,2483.000000,2483.000000
mean,496518.563834,138918.415626,0.041482,0.019734,0.960532,0.011277,897.401575,528.708854,23380.817962,148882.351591,125193.799436
std,173471.574905,10821.331623,0.203443,0.139113,0.228977,0.109361,48.129259,77.549494,60577.896169,131384.438062,142760.405885
min,111150.000000,117882.000000,0.000000,0.000000,0.000000,0.000000,90.000000,68.000000,0.000000,1.000000,0.000000
25%,334516.000000,128806.500000,0.000000,0.000000,1.000000,0.000000,874.000000,493.750000,0.000000,50000.000000,25000.000000
50%,531120.000000,140524.000000,0.000000,0.000000,1.000000,0.000000,898.000000,543.000000,0.000000,100000.000000,50000.000000
75%,621111.000000,148333.000000,0.000000,0.000000,1.000000,0.000000,926.000000,579.000000,0.000000,200000.000000,200000.000000
max,926110.000000,155162.000000,2.000000,1.000000,2.000000,2.000000,1566.000000,964.000000,420000.000000,500000.000000,500000.000000

In [ ]:
df.pivot_table('Count', index='Period', columns='Decision_Flow', aggfunc='sum').plot()
plt.ylabel('Total count per quarter')

In [47]:
dfn= df.select_dtypes([np.o])
dfn.shape

AttributeError: module 'numpy' has no attribute 'o'

In [ ]:
[lambda df, fea: len(df[fea].unique()) for fea in df.columns]

In [ ]:
[lambda df, fea: len(df[fea].unique()) for fea in df.columns]

In [52]:
df.isnull().sum()

Org_Struc_Desc                      0
NAICS_Cd                            0
NAICS_Desc                          0
Revw_Id                             0
Revw_Month                          0
Revw_Quarter                        0
Decision                            0
Scored_Flag                      1745
Elan_Flag                         919
CLI_or_New_Prod_Flag             1867
Channel                             2
Corporate_Card                      0
Purchasing_Card                     0
One_Card                            0
Other_NonBankCard                   0
Scored_Rec_Decision              1758
SBFE_Score                        451
CC_Score                          563
Financial_Template_Found_Flag     919
Existing_Limit                      0
Request_Amount                      0
Final_Limit                         0
dtype: int64

In [24]:
yer

'2019'

In [23]:
yer, mth = '2019/2'.split('/')

In [25]:
yer = int( '2019/2'.split('/')[0])

In [39]:
#df['yer']= [lambda str : int(str.split('/')[0]) for str in df['Revw_Month']]
df['Yer']= list( map(lambda str : int(str.split('/')[0]), df['Revw_Month']))
df['Qty']= list( map(lambda str : int(str.split('/')[1]), df['Revw_Quarter']))
df['Mth']= list( map(lambda str : int(str.split('/')[1]), df['Revw_Month']))
df[['Yer','Qty', 'Mth']].head(4).T

        0     1     2     3
Yer  2019  2019  2019  2019
Qty     1     1     1     1
Mth     1     1     2     3

In [ ]:
Org_Struc_Desc                    object
NAICS_Cd                           int64
NAICS_Desc                        object
Revw_Id                            int64
Revw_Month                        object
Revw_Quarter                      object
Decision                          object
Scored_Flag                       object
Elan_Flag                         object
CLI_or_New_Prod_Flag              object
Channel                           object
Corporate_Card                     int64
Purchasing_Card                    int64
One_Card                           int64
Other_NonBankCard                  int64
Scored_Rec_Decision               object
SBFE_Score                       float64
CC_Score                         float64
Financial_Template_Found_Flag     object
Existing_Limit                     int64
Request_Amount                     int64
Final_Limit                        int64