In [2]:
import pprint
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np

In [3]:
pd.set_option( 'display.max_columns', 10 )
pd.set_option('precision', 6)
pd.set_option('max_colwidth', 20)
pd.set_option('display.width', 120)

path = 'C:\\Users\\sophia.yue\\Infosys\Data\\'
df = pd.read_csv(path + 'bank-full.csv', sep=';')
df.head()
df.shape
df.describe()
df.info()
#  Examine target values and map to 0 and 1
df.y.value_counts()             
targ_dict = {'no': 0, 'yes':1 }
df['target'] = [targ_dict[yy] for yy in df.y]
df.target.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

0    39922
1     5289
Name: target, dtype: int64

In [3]:
df.dtypes[df.dtypes == 'O']

job          object
marital      object
education    object
default      object
housing      object
loan         object
contact      object
month        object
poutcome     object
y            object
dtype: object

In [4]:
df.dtypes[df.dtypes != 'O']

age         int64
balance     int64
day         int64
duration    int64
campaign    int64
pdays       int64
previous    int64
target      int64
dtype: object

In [5]:
df.head()

   age           job  marital  education default  ...  pdays previous poutcome   y  target
0   58    management  married   tertiary      no  ...     -1        0  unknown  no       0
1   44    technician   single  secondary      no  ...     -1        0  unknown  no       0
2   33  entrepreneur  married  secondary      no  ...     -1        0  unknown  no       0
3   47   blue-collar  married    unknown      no  ...     -1        0  unknown  no       0
4   33       unknown   single    unknown      no  ...     -1        0  unknown  no       0

[5 rows x 18 columns]

## function  mutualInf

In [ ]:
def mutualInf( x, y, bins=(10,10), offset=0, verb=False ):
    
    # x_f = x
    # y_f = y
    if x.dtype == "object":
        xx, qx = pd.factorize(x)
        xnames = qx
    else:
        xx = pd.qcut( x, bins[0], duplicates='drop' )
        xnames = xx.values.categories    
    if y.dtype == "object":
        yy, qy = pd.factorize(y)
        ynames = qy
    else:
        yy = pd.qcut( y, bins[1], duplicates='drop' )
        ynames = yy.values.categories

    xx2=pd.factorize(xx)[0]
    yy2=pd.factorize(yy)[0]
    a = pd.crosstab( xx2, yy2 ) 

    if offset > 0 : a = a + offset

    if verb: print(a)
        
    entx  = entropy( a.sum( axis=1 ))
    enty  = entropy( a.sum( axis=0 ))
    entxy = entropy( a )
        
    mutinf = entx+enty-entxy

    a.columns = ynames    
    a.index   = xnames
    
    
    return(mutinf,a)

#%%
def entropy( x, normalize=False ):
    
    if x.sum().sum() > 1:
        x = x/x.sum().sum()
        
    ent = -(x*np.log(x)).sum().sum()
                      
    maxent = np.log( np.prod(x.shape) )  #  Use if normalizing by max
    if normalize:
        ent = ent/maxent
    return (ent)

In [ ]:
## simulation  mutualInf

In [ ]:
x=df.marital, y= df.job, verb=True)